.mat-raised-button {
    background-color: #2BB473;
    color: white;
    font-size: 14px;
    width: 100%;
}

.mat-form-field {
    width: 100%;
}

.mat-form-field-label-wrapper {
    font-size: 16px;
}

input {
    font-size: 16px;
}

.dialog-img {
    margin: -24px -24px 15px -40px;
    position: relative;

    img {
        width: 100%;
    }
}

.dialog-btn {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.info-wrapper {
    margin: 0 -9px;
}

.info-header {
    margin-bottom: 5px;
    font-size: 16px;
}

.info-details {
    text-align: left;
    font-size: 12px;
    margin-bottom: 16px;
    font-weight: 300;
    letter-spacing: 0;
    color: #58585B;
    opacity: 1;
}

.close-icon {
    position: absolute;
    right: 14px;
    top: 14px;
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
    border-radius: 15px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}

.close-icon:hover {
    transform: scale(1.1);
}

.close-icon:active {
    transform: scale(0.9)
}